SECRET_KEY=

DEBUG=

# Настройки для Postgres
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# Настройки для Django
NAME=
USER=
PASSWORD=
HOST=
PORT=

EMAIL=
FIRST_NAME=
LAST_NAME=
PASSWORD_ADMIN=

STRIPE_SECRET_KEY=

CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=

EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
